.App-container {
  text-align: center;
  margin: 50px auto;
  background: #ffe4e6;
  max-width: 500px;
  padding-bottom: 1rem;
}
.heading {
  border-bottom: 2px solid palevioletred;
  background-color: #fb7185;
}

.inputfield {
  padding: 0.5rem;
  width: 60%;
  border-color: transparent;
}

.add-btn {
  padding: 0.5rem;
  border-color: transparent;
  cursor: pointer;
  border-left: 2px solid palevioletred;
}

.list-container {
  font-family: sans-serif;
  margin: auto;
  max-width: 400px;
  padding: 0.5rem;
  background-color: #fbcfe8;
  border-radius: 10px;
  text-align: start;
  margin-top: 4%;
  margin-bottom: 1%;
  cursor: pointer;
  /* font-size: large; */
}

.del-btn {
  padding: 6px;
  border: transparent;
  margin-left: 320px;
}

.task-complete {
  text-decoration: line-through;
  color: purple;
  font-weight: 300;
}
.footer {
  margin-top: 7%;
}
